{% extends 'services/base.html' %}
{% load my_tags %}
{% block content %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="col-12 mb-5">
            {% if user.is_superuser %}
            <a class="btn btn-primary" href="{% url 'services:create'%}" role="button">Создать Продукт</a>
            {% endif %}
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for object in object_list %}
            <div class="col">
                <div class="card shadow-sm">

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}